<!--xsi:noNamespaceSchemaLocation="Unity.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<unity >
  <typeAliases>
    <!-- System types -->
    <typeAlias alias="string" type="System.String, mscorlib" />
    <!-- Lifetime manager types -->
    <typeAlias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    <typeAlias alias="perThread"
             type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
    <typeAlias alias="external"
         type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />
    <!-- User-defined type aliases -->
    <typeAlias alias="ISiteRepository" type="Lavie.Modules.Admin.Repositories.ISiteRepository,Lavie" />
    <typeAlias alias="IBulletinRepository" type="Lavie.Modules.Admin.Repositories.IBulletinRepository,Lavie" />
    <typeAlias alias="IUserRepository" type="Lavie.Modules.Admin.Repositories.IUserRepository,Lavie" />
    <typeAlias alias="IGroupRepository" type="Lavie.Modules.Admin.Repositories.IGroupRepository,Lavie" />
    <typeAlias alias="IRoleRepository" type="Lavie.Modules.Admin.Repositories.IRoleRepository,Lavie" />
    <typeAlias alias="IPermissionRepository" type="Lavie.Modules.Admin.Repositories.IPermissionRepository,Lavie" />
    
    <typeAlias alias="SiteRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.SiteRepository,Lavie" />
    <typeAlias alias="BulletinRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.BulletinRepository,Lavie" />
    <typeAlias alias="UserRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.UserRepository,Lavie" />
    <typeAlias alias="GroupRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.GroupRepository,Lavie" />
    <typeAlias alias="RoleRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.RoleRepository,Lavie" />
    <typeAlias alias="PermissionRepository" type="Lavie.Modules.Admin.Repositories.EntityFramework.PermissionRepository,Lavie" />
  </typeAliases>
  <containers>
    <container>
      <types>
        <!--带参数的类型映射-->
        <!--<type type="ISiteRepository" mapTo="EFSiteRepository">
          <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,Microsoft.Practices.Unity.Configuration">
            <constructor>
              -->
        <!-- 参数：connectionStringName 参数值：ApplicationConnectionString（根据实际的调整） --><!--
              <param name="connectionStringName" parameterType="string">
                <value value="ApplicationConnectionString"/>
              </param>
            </constructor>
          </typeConfig>
        </type>-->
        <type type="ISiteRepository" mapTo="SiteRepository"/>
        <type type="IBulletinRepository" mapTo="BulletinRepository"/>
        <type type="IPermissionRepository" mapTo="PermissionRepository"/>
        <type type="IRoleRepository" mapTo="RoleRepository"/>
        <type type="IGroupRepository" mapTo="GroupRepository"/>
        <type type="IUserRepository" mapTo="UserRepository"/>
      </types>
    </container>
  </containers>
</unity>
