<lavie>
  <connectionStrings/>
  <!--
    dataProviders结点属性说明：
    defaultConnectionString：默认数据库链接字符串name(string型，非必填)
    
    dataProviders结点下的元素属性说明：
    name:名称(键值，string型，必填)
    type:类型(string型，必填)
    category:所属分类(string型，必填)
    connectionString：数据库链接字符串name(string型，非必填)
    enabled:是否启用(bool型，非必填，默认true)
    
    dataProviders结点下的子结点settings下的元素属性说明：
    name:名称(键值，string型，必填)
    value:类型(string型，必填)
    
    示例：
    1、<add name="名称" type="类型, 程序集" category="分类"/>   
    2、<add name="名称" type="类型, 程序集" category="分类" enabled="true"/>   
    3、<add name="名称" type="类型, 程序集" category="分类" connectionString="数据库链接字符串name" enabled="true"/>   
    4、
    <add name="名称" type="类型, 程序集" category="分类" connectionString="数据库链接字符串name" enabled="true">
        <settings>
          <add name="配置名" value="配置值"/>
        </settings>
    </add>

    备注：
    如果dataProviders结点下的元素未设置connectionString属性，
    则获取dataProviders的defaultConnectionString属性的值，
    然后在connectionStrings结点进行查找名为该值的元素，
    取该元素的connectionString属性的值。
    
    -->
  <dataProviders  defaultConnectionString="ApplicationServices">
  </dataProviders>
  <!--
    
    modules结点下的元素属性说明：
    name:名称(键值，string型，必填)
    type:类型(string型，必填)
    dataProvider：数据库链接字符串(string型，非必填)
    enabled:是否启用(bool型，非必填，默认true)

    modules结点下的子结点settings下的元素属性说明：
    name:名称(键值，string型，必填)
    value:类型(string型，必填)
    
    示例：
    1、<add name="名称" type="类型, 程序集"/>
    2、<add name="名称" type="类型, 程序集" enabled="true"/>
    3、<add name="名称" type="类型, 程序集" dataProvider="某值" enabled="true"/>

    <add name="名称" type="类型, 程序集" dataProvider="某值" enabled="true">
        <settings>
          <add name="配置名" value="配置值"/>
        </settings>
    </add>
    
    备注：
    modules结点下的元素的dataProvider属性对应的是dataProviders节点下的元素的名称
    
    -->
  <modules>
    <add name="Core" type="Lavie.Modules.Core.CoreModule, Lavie"/>
    <add name="Skinning" type="Lavie.Modules.Skinning.SkinningModule, Lavie">
      <settings>
        <add name="SkinsPath" value="Skins"/>
      </settings>
    </add>
    <add name="Logging" type="Lavie.Modules.Logging.LoggingModule, Lavie"/>
    <add name="Cache" type="Lavie.Modules.Cache.CacheModule, Lavie">
      <settings>
        <!--默认缓存时间（系统配置、用户信息等将使用缓存）-->
        <add name="CacheTime" value="30"/>
      </settings>
    </add>
    <add name="SmtpMail" type="Lavie.Modules.SmtpMail.SmtpMailModule, Lavie">
      <settings>
        <add name="FromEmailAddress" value="alby@foxmail.com"/>
        <add name="SmtpClient.Host" value="smtp.qq.com"/>
        <add name="SmtpClient.Port" value="25"/>
        <add name="SmtpClient.UseDefaultCredentials" value="true"/>
        <add name="SmtpClient.EnableSsl" value="false"/>
        <add name="SmtpClient.Timeout" value="3000"/>
        <add name="SmtpClient.Credentials.Username" value="alby@foxmail.com"/>
        <add name="SmtpClient.Credentials.Password" value="123456"/>
        <add name="SmtpClient.Credentials.Domain" value=""/>
      </settings>
    </add>
    <add name="Admin" type="Lavie.Modules.Admin.AdminModule, Lavie">
      <settings>
        <!--Url前缀-->
        <add name="UrlPrefix" value="Manager"/>
        <!--设置该参数则启用子域名-->
        <add name="SubDomain" value=""/>
        <!--皮肤名称(依赖SkinningModule，如果没启用SkinningModule，则不需要该参数)-->
        <add name="Skin" value="Admin"/>
        <!--认证模块名称(如果不需要认证用户，则不需要该参数)-->
        <add name="AuthenticationModuleName" value="Admin"/>
        <!--Environment 可用值：development production-->
        <add name="CoreEnvironment" value="production" />
        <add name="CoreEnvironmentHost" value="http://127.0.0.1:8080;" />
        <add name="Environment" value="production" />
        <add name="EnvironmentHost" value="http://192.168.1.4:8080;" />
      </settings>
    </add>
    
    <!--定制模块-->
    <!--
    <add name="Demo" type="Lavie.Modules.Demo.DemoModule, Lavie.Modules.Demo" enabled="false">
      <settings>
        -->
    <!--Url前缀--><!--
        <add name="UrlPrefix" value="Manager"/>
        --><!--设置该参数则启用子域名--><!--
        <add name="SubDomain" value=""/>
        --><!--皮肤名称(依赖SkinningModule，如果没启用SkinningModule，则不需要该参数)--><!--
        <add name="Skin" value="Admin"/>
        --><!--认证模块名称(如果不需要认证用户，则不需要该参数)--><!--
        <add name="AuthenticationModuleName" value="Admin"/>
      </settings>
    </add>-->
    
    <add name="Project" type="Lavie.Modules.Project.ProjectModule, Lavie.Modules.Project">
      <settings>
        <!--Url前缀-->
        <add name="UrlPrefix" value="Manager"/>
        <!--设置该参数则启用子域名-->
        <add name="SubDomain" value="{weixinSiteID}"/>
        <!--皮肤名称(依赖SkinningModule，如果没启用SkinningModule，则不需要该参数)-->
        <add name="Skin" value="Admin"/>
        <!--认证模块名称(如果不需要认证用户，则不需要该参数)-->
        <add name="AuthenticationModuleName" value="Admin"/>
        <!--微信站点网址格式-->
        <add name="WeixinSiteSiteUrlFormat" value="http://{0}.m.bing.com/"/>
      </settings>
    </add>
  </modules>
  <backgroundServices>
    <add name="MailMessageService" type="Lavie.BackgroundServices.MailMessageService,Lavie"
         executorType="Lavie.Infrastructure.InProcessBackgroundServiceExecutor,Lavie"
         interval ="60000"
         enabled="false"/>
  </backgroundServices>
</lavie>