.boxSerial {
    border-top-style: solid;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    padding: 4px;
}

.boxAddress {
    font-weight: bold;
    padding: 4px;
}

.boxSerialList {
    padding: 4px;
    background-color: aliceblue;
}
